/**body styles belstaff**/

@font-face {
    font-family: 'texgyreadventorbold';
    src: url('../webfonts/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.eot');
    src: url('../webfonts/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.woff') format('woff'),
         url('../webfonts/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('../webfonts/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.svg#texgyreadventorbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'texgyreadventorbold_italic';
    src: url('../webfonts/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.eot');
    src: url('../webfonts/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.woff') format('woff'),
         url('../webfonts/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.ttf') format('truetype'),
         url('../webfonts/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.svg#texgyreadventorbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texgyreadventoritalic';
    src: url('../webfonts/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.eot');
    src: url('../webfonts/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.woff') format('woff'),
         url('../webfonts/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.ttf') format('truetype'),
         url('../webfonts/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.svg#texgyreadventoritalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texgyreadventorregular';
    src: url('../webfonts/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.eot');
    src: url('../webfonts/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.woff') format('woff'),
         url('../webfonts/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('../webfonts/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/**error and age gate**/
.error.hide {
	display:none!important;
}

.column.large-centered, .columns.large-centered {
	float: none!important;
}

#us-reveal, #ca-reveal, #requiredAgeWrapper {
	display: none;
}
/**error and age gate end**/

html {
	min-height: 100%;
	height: 100%;
	background-color: #000;
}


body {
	background-color: #000;
	min-height: 100%;
	height: 100%;
}

#competition {
	background-color: transparent;
	  background: url(../img/ciroc_bg.jpg) no-repeat center 0px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1280px;
  margin: auto;
  display: block;
} 


h1 {
	margin-bottom: 0px;
	font-size: 36px;
	font-family: 'texgyreadventorregular';
	color: white;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-left: 6%;
	margin-bottom: 20px;
	margin-top: 70px;
}

span.bold {
	font-family: 'texgyreadventorbold';
}

span.italic {
	font-family: 'texgyreadventoritalic';
}

h2 {
	font-family: 'texgyreadventorregular';
	color: white;
	text-align: center;
	line-height: 40px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
	font-weight: 100;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	margin-right: 15%;
	margin-left: 6%;
}

form {
	border: none;
	margin-top: 0px;
	padding: 5%;
	padding-bottom: 2%;

	img {
		-moz-box-shadow: 0px 0px 3px black;
		-webkit-box-shadow: 0px 0px 3px black;
		box-shadow: 0px 0px 3px black;
	}
 

	.border {
		margin: 10px 0px;
		display: block;

		img {
			margin: auto;
			display: block;
		}
	}


	fieldset {
		border: none;
		padding-top: 0px;

		input[type="text"] {
			background-color: #fff;
			height: 30px;
			-moz-box-shadow:    0px 1px 1px rgba(0, 0, 0, 0.6);
			-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
			box-shadow:         0px 1px 1px rgba(0, 0, 0, 0.6);

			&:focus {
				border: none;
			}
		}


		label {
			width: auto;
			font-family: 'texgyreadventorbold';
			text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
			color: white;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: normal;
			text-align: left;
			line-height: 18px;
			letter-spacing: 2px;
		}
	}

	.controls {
		label, .help-block {
			color: white;
			font-size: 11px;
			font-family: 'helvetica', sans-serif;
			line-height: auto;
			text-transform: none;
			width: 90%;
			font-weight: normal;
		}

		input[type="checkbox"] {
			margin-right: 5%;
			margin-bottom: 0px;
		}

		a {
			font-weight: bold;
			color: #999;
			&:hover {
				text-decoration: underline;
			}
		}

		.control-group {
			padding-bottom: 20px;
		}
	}

	.button {
		background-color: transparent;
		color: black;
		border: none;
		-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
		-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
		box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
		font-family: 'texgyreadventorbold';
		border: 4px solid #fff;
		font-size: 16px;
		width: 100%;
		margin: auto;
		display: block;
		float: none;
		color: white;
		font-size: 17px;
		letter-spacing: 5px;
		text-align: center;

		&:hover {
			background-color: #fff;
			color: black;
		}
	}

}

.alert{
	li {
		list-style: none;
		padding: 10px;
		width: 100%;
		background-color: pink;
		border: 1px solid #FC6174;
		font-family: 'texgyreadventorbold_italic';
		font-size: 12px;
		border-radius: 5px;
		margin: 10px;
		text-align: center;
	}
}

.drink_aware {
	height: 120px;
	border-top: 2px solid white;
	background-color: #dce5f8;
	width: 1280px;
	margin: auto;

	img {
		margin-top: 55px;
		&.left {
			margin-top: 20px;
		}
	}
}

.age-gate .column.large-centered,.age-gate .columns.large-centered {
	float: none!important;
}

.column.large-centered, .columns.large-centered {
	float: left!important;
}

.age-gate {
	background: url(../img/bg_gradient-noRepeat.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  form fieldset label {
	text-shadow: none;
	color: black;
	font-size: 12px;
  }

  form fieldset input[type="text"] {
  		-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.7);
		-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.7);
		box-shadow: 0px 0px 0px rgba(0,0,0,0.7);
  }


	.button {
		background-color: black;
		color: white;
		border: none;
		-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.7);
		-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.7);
		box-shadow: 0px 0px 0px rgba(0,0,0,0.7);
		font-family: 'texgyreadventorbold';


		&:hover {
			color: #ccc;
			background-color: black;
		}
	}

  img {
  	-moz-box-shadow: 0px 0px 0px black;
	-webkit-box-shadow: 0px 0px 0px black;
	box-shadow: 0px 0px 0px black;
	margin: auto;
	display: block;
	margin-bottom: 50px;
  }

}

@media only screen and (max-width: 520px) {
	.drink_aware {
		img {
			&.right {
				width: 65%;
			}
		}
	}
}


@media only screen and (max-width: 767px) {
	fieldset {
		padding: 0px;
	}

	form fieldset label {
		font-size: 12px;
	}
}

@media only screen and (max-width: 1280px) {
	#competition {
		width: 100%;
	}

	.drink_aware {
		width: 100%;
	}
}
