/**body styles belstaff**/
@font-face {
  font-family: 'texgyreadventorbold';
  src: url("../webfonts/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.eot");
  src: url("../webfonts/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.woff") format("woff"), url("../webfonts/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.ttf") format("truetype"), url("../webfonts/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.svg#texgyreadventorbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'texgyreadventorbold_italic';
  src: url("../webfonts/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.eot");
  src: url("../webfonts/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.woff") format("woff"), url("../webfonts/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.ttf") format("truetype"), url("../webfonts/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.svg#texgyreadventorbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'texgyreadventoritalic';
  src: url("../webfonts/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.eot");
  src: url("../webfonts/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.woff") format("woff"), url("../webfonts/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.ttf") format("truetype"), url("../webfonts/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.svg#texgyreadventoritalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'texgyreadventorregular';
  src: url("../webfonts/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.eot");
  src: url("../webfonts/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.woff") format("woff"), url("../webfonts/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.ttf") format("truetype"), url("../webfonts/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.svg#texgyreadventorregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**error and age gate**/
/* line 52, ../sass/belstaff-styles.scss */
.error.hide {
  display: none !important;
}

/* line 56, ../sass/belstaff-styles.scss */
.column.large-centered, .columns.large-centered {
  float: none !important;
}

/* line 60, ../sass/belstaff-styles.scss */
#us-reveal, #ca-reveal, #requiredAgeWrapper {
  display: none;
}

/**error and age gate end**/
/* line 65, ../sass/belstaff-styles.scss */
html {
  min-height: 100%;
  height: 100%;
  background-color: #000;
}

/* line 72, ../sass/belstaff-styles.scss */
body {
  background-color: #000;
  min-height: 100%;
  height: 100%;
}

/* line 78, ../sass/belstaff-styles.scss */
#competition {
  background-color: transparent;
  background: url(../img/ciroc_bg.jpg) no-repeat center 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1280px;
  margin: auto;
  display: block;
}

/* line 91, ../sass/belstaff-styles.scss */
h1 {
  margin-bottom: 0px;
  font-size: 36px;
  font-family: 'texgyreadventorregular';
  color: white;
  text-shadow: 0px 1px 1px black;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-left: 6%;
  margin-bottom: 20px;
  margin-top: 70px;
}

/* line 105, ../sass/belstaff-styles.scss */
span.bold {
  font-family: 'texgyreadventorbold';
}

/* line 109, ../sass/belstaff-styles.scss */
span.italic {
  font-family: 'texgyreadventoritalic';
}

/* line 113, ../sass/belstaff-styles.scss */
h2 {
  font-family: 'texgyreadventorregular';
  color: white;
  text-align: center;
  line-height: 40px;
  text-shadow: 0px 1px 1px black;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-right: 15%;
  margin-left: 6%;
}

/* line 127, ../sass/belstaff-styles.scss */
form {
  border: none;
  margin-top: 0px;
  padding: 5%;
  padding-bottom: 2%;
}
/* line 133, ../sass/belstaff-styles.scss */
form img {
  -moz-box-shadow: 0px 0px 3px black;
  -webkit-box-shadow: 0px 0px 3px black;
  box-shadow: 0px 0px 3px black;
}
/* line 140, ../sass/belstaff-styles.scss */
form .border {
  margin: 10px 0px;
  display: block;
}
/* line 144, ../sass/belstaff-styles.scss */
form .border img {
  margin: auto;
  display: block;
}
/* line 151, ../sass/belstaff-styles.scss */
form fieldset {
  border: none;
  padding-top: 0px;
}
/* line 155, ../sass/belstaff-styles.scss */
form fieldset input[type="text"] {
  background-color: #fff;
  height: 30px;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}
/* line 162, ../sass/belstaff-styles.scss */
form fieldset input[type="text"]:focus {
  border: none;
}
/* line 168, ../sass/belstaff-styles.scss */
form fieldset label {
  width: auto;
  font-family: 'texgyreadventorbold';
  text-shadow: 0px 1px 1px black;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  line-height: 18px;
  letter-spacing: 2px;
}
/* line 183, ../sass/belstaff-styles.scss */
form .controls label, form .controls .help-block {
  color: white;
  font-size: 11px;
  font-family: 'texgyreadventorbold';
  line-height: auto;
  text-transform: none;
  width: 90%;
  font-weight: normal;
}
/* line 193, ../sass/belstaff-styles.scss */
form .controls input[type="checkbox"] {
  margin-right: 5%;
  margin-bottom: 0px;
}
/* line 198, ../sass/belstaff-styles.scss */
form .controls a {
  font-weight: bold;
  color: #999;
}
/* line 201, ../sass/belstaff-styles.scss */
form .controls a:hover {
  text-decoration: underline;
}
/* line 206, ../sass/belstaff-styles.scss */
form .controls .control-group {
  padding-bottom: 20px;
}
/* line 211, ../sass/belstaff-styles.scss */
form .button {
  background-color: transparent;
  color: black;
  border: none;
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
  font-family: 'texgyreadventorbold';
  border: 4px solid #fff;
  font-size: 16px;
  width: 100%;
  margin: auto;
  display: block;
  float: none;
  color: white;
  font-size: 17px;
  letter-spacing: 5px;
  text-align: center;
}
/* line 230, ../sass/belstaff-styles.scss */
form .button:hover {
  background-color: #fff;
  color: black;
}

/* line 239, ../sass/belstaff-styles.scss */
.alert li {
  list-style: none;
  padding: 10px;
  width: 100%;
  background-color: pink;
  border: 1px solid #FC6174;
  font-family: 'texgyreadventorbold_italic';
  font-size: 12px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

/* line 253, ../sass/belstaff-styles.scss */
.drink_aware {
  height: 120px;
  border-top: 2px solid white;
  background-color: #dce5f8;
  width: 1280px;
  margin: auto;
}
/* line 260, ../sass/belstaff-styles.scss */
.drink_aware img {
  margin-top: 55px;
}
/* line 262, ../sass/belstaff-styles.scss */
.drink_aware img.left {
  margin-top: 20px;
}

/* line 268, ../sass/belstaff-styles.scss */
.age-gate .column.large-centered, .age-gate .columns.large-centered {
  float: none !important;
}

/* line 272, ../sass/belstaff-styles.scss */
.column.large-centered, .columns.large-centered {
  float: left !important;
}

/* line 276, ../sass/belstaff-styles.scss */
.age-gate {
  background: url(../img/bg_gradient-noRepeat.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 283, ../sass/belstaff-styles.scss */
.age-gate form fieldset label {
  text-shadow: none;
  color: black;
  font-size: 12px;
}
/* line 289, ../sass/belstaff-styles.scss */
.age-gate form fieldset input[type="text"] {
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
}
/* line 296, ../sass/belstaff-styles.scss */
.age-gate .button {
  background-color: black;
  color: white;
  border: none;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
  font-family: 'texgyreadventorbold';
}
/* line 306, ../sass/belstaff-styles.scss */
.age-gate .button:hover {
  color: #ccc;
  background-color: black;
}
/* line 312, ../sass/belstaff-styles.scss */
.age-gate img {
  -moz-box-shadow: 0px 0px 0px black;
  -webkit-box-shadow: 0px 0px 0px black;
  box-shadow: 0px 0px 0px black;
  margin: auto;
  display: block;
  margin-bottom: 50px;
}

@media only screen and (max-width: 520px) {
  /* line 326, ../sass/belstaff-styles.scss */
  .drink_aware img.right {
    width: 65%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 335, ../sass/belstaff-styles.scss */
  fieldset {
    padding: 0px;
  }

  /* line 339, ../sass/belstaff-styles.scss */
  form fieldset label {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1280px) {
  /* line 345, ../sass/belstaff-styles.scss */
  #competition {
    width: 100%;
  }

  /* line 349, ../sass/belstaff-styles.scss */
  .drink_aware {
    width: 100%;
  }
}
