/* line 1, ../sass/footer-styles.scss */
footer {
  height: 400px;
  border-top: 4px solid #404040;
  margin-top: 90px;
  margin-bottom: 30px;
}

/* line 8, ../sass/footer-styles.scss */
footer .top_btn {
  margin: -54px auto 0px;
  width: 201px;
}

/* line 13, ../sass/footer-styles.scss */
footer .logos {
  margin: auto;
  width: 79%;
  margin-top: 40px;
}

/* line 19, ../sass/footer-styles.scss */
footer p.small_text {
  font-size: 9px;
  line-height: 11px;
  margin-top: 10px;
  text-align: center;
  color: #575757;
  font-family: helvetica;
  text-transform: uppercase;
}

/* line 29, ../sass/footer-styles.scss */
div#ign_footer {
  clear: both;
  color: White;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
  bottom: 0px;
  width: 100%;
  height: 70px;
  z-index: 99999;
}

/* line 43, ../sass/footer-styles.scss */
div#ign_footer {
  clear: both;
  color: White;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
  bottom: 0px;
  width: 100%;
  height: 70px;
  z-index: 99999;
}

/**sticky footer styles**/
/* line 59, ../sass/footer-styles.scss */
* {
  margin: 0;
}

/* line 62, ../sass/footer-styles.scss */
html, body {
  height: 100%;
}

/* line 65, ../sass/footer-styles.scss */
#competition {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}

/* line 70, ../sass/footer-styles.scss */
#competition:after {
  content: "";
  display: block;
}

/* line 74, ../sass/footer-styles.scss */
div#ign_footer, #competition:after {
  /* .push must be the same height as footer */
  height: 70px;
}

/**end sticky footer styles**/
/* line 83, ../sass/footer-styles.scss */
.ign-elements {
  width: 100%;
  bottom: 0;
  background-color: #000;
  height: auto;
  padding: 10px 0px;
}

/* line 91, ../sass/footer-styles.scss */
.ign-elements p {
  color: white;
}

/* line 95, ../sass/footer-styles.scss */
.ign-elements a {
  font-size: 12px;
  color: #ccc;
}

/* line 100, ../sass/footer-styles.scss */
.ign-elements .row {
  background: url(../assets/images/html5.png) no-repeat center center;
}

/* line 104, ../sass/footer-styles.scss */
p.corp-terms {
  display: block;
  height: 60px;
  padding: 10px 0 0 75px;
  margin: 0px;
  background: url(../assets/images/ign-footer.jpg) no-repeat 0px 8px;
  text-align: left!important;
}

/* line 113, ../sass/footer-styles.scss */
p.corp-terms a {
  color: #ccc;
}

/* line 117, ../sass/footer-styles.scss */
.white {
  text-weight: bold;
  color: white;
}

/* line 123, ../sass/footer-styles.scss */
p.corp-links {
  display: block;
  height: 60px;
  line-height: 60px;
  margin: 0 10px 0 0;
}

/* line 130, ../sass/footer-styles.scss */
p.corp-links a {
  color: #ccc;
}

/* line 134, ../sass/footer-styles.scss */
div#ign_footer p {
  font-size: 12px;
  color: #999;
  text-shadow: none;
  text-align: right;
}

/* line 141, ../sass/footer-styles.scss */
.footer_cap {
  width: 1020px;
  background: transparent url(../assets/images/bioshock_footer-cap.png) no-repeat 0 0;
  height: 65px;
  position: absolute;
  margin-left: -22px;
  margin-top: -20px;
}

/**responsive rules**/
@media only screen and (max-width: 767px) {
  /* line 154, ../sass/footer-styles.scss */
  header #ignHeader .social-btns {
    display: none;
  }

  /* line 159, ../sass/footer-styles.scss */
  #ign_footer .row {
    background: url(../assets/images/html5.png) no-repeat 98% 0px;
  }
  /* line 163, ../sass/footer-styles.scss */
  #ign_footer p.corp-links {
    text-align: center;
  }
}
@media only screen and (max-width: 900px) {
  /* line 171, ../sass/footer-styles.scss */
  #ign_footer a, #ign_footer p, #ign_footer span {
    font-size: 12px;
  }
  /* line 175, ../sass/footer-styles.scss */
  #ign_footer .corp-terms {
    font-size: 12px;
  }
}
